<?xml version="1.0" encoding="utf-8"?>
<root>
	<service ver="1.0">
		<name>FSvcAdjustTime</name>
		<display>FSvcAdjustTime</display>
		<description>FSvcAdjustTime</description>
		<version>0.0.0.1</version>
		<dllfile>libAdjustTime.dll</dllfile>
		<initfunc>libAdjustTime_Init</initfunc>
		<finifunc>libAdjustTime_Fini</finifunc>
		<startfunc>libAdjustTime_Start</startfunc>
		<stopfunc>libAdjustTime_Stop</stopfunc>
		<errorfunc>libAdjustTime_GetLastError</errorfunc>
		<versionfunc>libAdjustTime_GetVersion</versionfunc>
		<messagefunc>libAdjustTime_SetMsgCallback</messagefunc>
        <messagefuncex>libAdjustTime_SetMsgCallbackEx</messagefuncex>
	</service>
</root>