.fieldset260.noLegend{
	width:260px;
	margin-right: 10px !important;
	float: left;
}
.fieldset400.noLegend{
	width:450px;
	float: left;
}
.fieldset260{
	_width:280px;
}
.fieldset260 .control-label{
	width:90px;
}
.fieldset260 .controls{
	width:170px;
	margin-left:90px;
	_margin-left:0;
}
.fieldset260 .controls input{
	width:158px;
}
.fieldset260 .controls div.selector{
	width:160px !important;
}
.fieldset260 .controls select{
	width:170px !important;
}
.fieldset260 input.datepicker{
	width:138px !important;
}
.ieStyle .filterDIV {
    height: 77px;
    width:100px;
    float:left;
    margin-left:40px;
}
.fieldset400 .control-label{
	width:90px;
}
.fieldset400 .controls{
	margin-left:90px;
	_margin-left:0;
}
.fieldset400 input.datepicker{
	width:138px !important;
}