<?xml version="1.0" encoding="utf-8"?>
<root>
	<service ver="1.0">
		<name>FSvcUpload</name>
		<display>FSvcUpload</display>
		<description>FSvcUpload</description>
		<version>0.0.0.1</version>
		<dllfile>UploadService.dll</dllfile>
		<initfunc>UploadSvc_Init</initfunc>
		<finifunc>UploadSvc_Fini</finifunc>
		<startfunc>UploadSvc_Start</startfunc>
		<stopfunc>UploadSvc_Stop</stopfunc>
		<errorfunc>UploadSvc_GetLastError</errorfunc>
		<versionfunc>UploadSvc_GetVersion</versionfunc>
		<messagefunc>UploadSvc_SetMsgCallback</messagefunc>
        <messagefuncex>UploadSvc_SetMsgCallbackEx</messagefuncex>
	</service>
</root>