.main-content{
	position: absolute;
	top:20px;
	left:20px;
	bottom:0;
	right:20px;
	_width:1240px;
}
.filterAlarmForm{
	height:100px;
	width:100%;
	background: #F5F5F5;
	overflow: hidden;
}
.fieldset_25{
	float:left;
	width:28%;
}
.tool{
	width:100%;
	margin:10px 0;
}
.datatableStyle {
    position: absolute;
    top: 140px;
    bottom: 15px;
    width: 1260px;
}

.controls textarea{
	height:100px;
	resize:none;
}
.undeal{
	color:#BB2C32;
}
.deal{
	color: #7ABC7A;
}
.dealhover{
	position: relative;
}
.dealInfo{
	position: absolute;
	bottom:0px;
	display: block;
	background: #EDEDED;
	height:100px;
	width:240px;
	border-radius: 3px;
}
.dealInfo:after{
	content: "";
	width:0;
    height:0;
    border-width: 25px 15px 0;
    border-style:solid;
	border-bottom:0;
	border-color:#EDEDED transparent transparent;/*灰 透明 透明 */
	position: absolute;
	top:100%;
	left:150px;
}
.dealInfo div{
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
}
.dealInfo span.desc{
	display: inline-block;
	width:100px;
	margin:10px 0 0 10px;
}

input.datepicker, input.datetimepicker{
    _width:168px !important;
    _border:solid 1px #7B9EBD;
}
.fieldset_40{
	float:left;
	width:40%;
}