<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:jee="http://www.springframework.org/schema/jee" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
	default-autowire="byName">
	
	<bean id="softdogDao" class="com.hikvision.finance.fms.license.dao.impl.SoftdogDaoImpl"></bean>
	<bean id="softdogService" class="com.hikvision.finance.fms.license.service.impl.SoftdogServiceImpl"></bean>
	
	<!-- 看门狗许可读取服务类 -->
	<bean id="licenseService" class="com.hikvision.license.ws.impl.LicenseServiceImpl" init-method="initService" >
		
		<!-- JNI加载动态库位置,如开发环境jdk为64位则修改classpath:license/LockJniWrap-x64.dll-->
		<property name="dogDll" value="classpath:license/LockJniWrap.dll"/>
<!-- 	<property name="dogDll" value="classpath:license/LockJniWrap-x64.dll"/> -->
		
		<!-- 授权文件位置 catalina.home 表示tomcat根目录 -->
		<property name="licFileName" value="file:#{systemProperties['catalina.home']}/license.cyt"/>
		
		<!-- 备份授权文件 -->
		<property name="tmpLicName" value="file:#{systemProperties['catalina.home']}/tmplic.cyt"/>
		<property name="tmpTimeName" value="file:#{systemProperties['catalina.home']}/tmpTime.cyt"/>
	</bean>

</beans>
