.col-sub{
	width:250px;
	float:left;
}
.grid-s9m0 .col-sub{
	margin-left: 0;
}
.grid-s9m0 .wrapFixed{
	margin-left:20px;
}
.col-main{
	width:1030px;
	float:right;
}
.searchInput{
	height:18px;
}
.toolbar a{
	display: block;
	float:left;
}
.showChild{
	float: left;
}
.form-horizontal .controls {
	margin-left:0;
    padding-left:0;
}
#filterForm{
    width:100%;
}
.filterDIV{
	display: inline;
    margin-right: 25px;
    height: 60px;
    vertical-align: bottom;
    _float:left;
}
.ieStyle .filterDIV {
    display: inline-block;
    margin-right: 25px;
    height: 80px;
    vertical-align: bottom;
}
.tip{
    padding:0;
    background: #F8F8F8;
    border: 1px solid #CCC;
    color: #3F85e4;
    border-radius: 4px;
    font-size: 12px;
    top:-82px;
}
i.arrow{
    height:0;
    line-height: 1px;
}
input.datepicker, input.datetimepicker{
    _width:150px !important;
    border:solid 1px #7B9EBD;
}
table a {
    white-space: nowrap;
}
table span {
    white-space: nowrap;
}
#tooltip.tip .arrow, label.tip .arrow, #tooltip.tip .arrow b, label.tip .arrow b{
	_border-color: tomato;
	_filter: chroma(color=tomato);
	border-top-color: #CCC
}
.controls .auto-input{
    _width:170px;
    padding:3px 5px;
    border:solid 1px #ccc;
}
.controls select{
    _width:180px !important;
}
.controls .auto-input:focus{
    border-color:#0099FF;
}
.filterControl input{
    border:solid 1px #ccc;
}
td{
    white-space: nowrap !important;
}
.ui-jqgrid tr.jqgrow td{
    overflow: hidden;
    white-space: nowrap !important;
    _white-space: nowrap;
    text-overflow:ellipsis;
}
.ui-jqgrid .ui-pg-input{
    border: solid 1px #ccc;
}
/* .ui-jqgrid tr.jqgfirstrow td {
    padding-left:10px;
    padding-right:1px;
} */
.conditions input{
    padding:3px 5px;
    border:solid 1px #ccc;
}
.conditions select{
    width:150px !important;
}
.ui-jqgrid-bdiv{
    _overflow-x:hidden !important;
}