.grid-s9m0 .home-wrap{
	height:100%;
	font-size: 14px;
	position: relative;
}
.grid-s9m0 .col-main{
	width:970px;
	float:left;
}
.grid-s9m0 .col-sub{
	width:300px;
	float:right;
	margin-left:0; 
	height:100%;
}
#content{
	_height:expression(document.documentElement.clientHeight - 70 +"px");
}
.home-wrap-module{
	padding:20px;
	padding-bottom:40px;
	border:solid 1px #ccc;
	background: #fff;
	overflow: hidden;
}
.home-wrap .module{
	padding:18px 22px;
	padding-bottom:40px;
	border:solid 1px #ccc;
	background: #fff;
	overflow: hidden;
}
.home-wrap-module-ab{
	position: absolute;
	bottom:10px;
	top:435px;
	left:0;
	right:0;
}
.home-wrap .module-ab{
	position: absolute;
	bottom:10px;
	top:435px;
	left:0;
	right:0;
	_height:expression(document.documentElement.clientHeight - 530 +"px");
}
.home-wrap .content{
	margin:0 30px;
}
.home-wrap .info{
	width:100%;
	height:20px;
	line-height: 20px;
	color:#ccc;
	overflow: hidden;
	margin-bottom:20px;
	margin-top:28px;
}
.home-wrap .info>span{
	float:left;
}
.home-wrap .info>div.dash{
	border:dashed 1px #ccc;
	border-bottom: 0;
	border-left: 0;
	border-right:0;
	margin-left:70px;
	margin-top:9.5px;
}
.home-wrap .linkIcon{
	width:100%;
	height:104px;
}
.linkIcon_a{
	display: inline-block;
	margin-right:50px;
}
.home-wrap .linkIcon>a{
	display: inline-block;
	margin-right:54px;
}
.home-wrap .linkIcon>a:hover div{
	color:#3f85e4;
}
.home-wrap .linkIcon div{
	text-align: center;
	margin-top:10px;
	color:#000;
}
.simple-detail{
	width:100px;
	height:50px;
	position: absolute;
	top:120px;
	left:380px;
}
.one{
	color:#AAB2FF;
	height:25px;
	line-height: 25px;
	vertical-align: middle;
}
.two{
	color:#98CDFA;
	height:25px;
	line-height: 25px;
	vertical-align: middle;
}
.one-span{
	display: inline-block;
	width:20px;
	height:10px;
	background:#AAB2FF; 
	margin-right:5px;
}
.two-span{
	display: inline-block;
	width:20px;
	height:10px;
	background:#98CDFA; 
	margin-right:5px;
}
#normalDetail{
	left:840px;
}
.sub-wrap{
	float:right;
	position: relative;
}
.sub-home-wrap{
	margin-right:0;
}
.sub-wrap .home-wrap{
	margin-right:0;
}
.home-wrap-show-info{
	height:340px;
	overflow: hidden;
}
.home-wrap .show-info{
	height:340px;
	overflow: hidden;
}
.show-info-ul{
	margin-top:20px;
	font-size: 12px;
}
.home-wrap .show-info ul{
	margin-top:20px;
	font-size: 12px;
}
.show-info-li{
	margin-top:10px;
	border-bottom:solid 1px #ccc;
}
.home-wrap .show-info li{
	margin-top:5px;
	border-bottom:solid 1px #eee;
}
.show-info-p{
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
	padding-left:15px;
}
.home-wrap .show-info li>p{
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
	padding-left:15px;
}
.p-pointer{
	background: url("/images/index/red-point.png") no-repeat left;
}
.tip-time{
	color:#999;
}
.home-wrap .show-info .tip-time{
	color:#999999;
	padding-bottom:10px;
}
.indexChart{
	height:300px;
}
#checkStatisticNone,#normalStatisticNone{
	background: url("/images/statistic/pie.png") no-repeat center center;
	/* _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizinMethod='scale', src="/images/statistic/pie.png");
	_background:none; */
	position: relative;
	text-align: center;
	vertical-align: middle;
	color:#B9B9B9;
	height:200px;
	width:100%;
	background-color:white; 
	zoom:1;
}
.span-center{
	display: block;
	position: absolute;
	height:30px;
	line-height: 30px;
	width:60px;
	text-align: center;
	top:50%;
	left:50%;
	margin:-15px 0 0 -30px;
}
.span-bottom{
	display: block;
	position: absolute;
	height:30px;
	line-height: 30px;
	width:200px;
	text-align: center;
	left:50%;
	margin-left: -100px;
	margin-top:18px;
	font-weight: bold;
}
.moreInfo{
	display: inline-block;
	height:21px;
	width: 43px;
	background: url("/images/index/moreInfo.png") no-repeat right center;
	color:#5291E7;
}
.moreInfo:hover{
	color:#5291E7;
}
.module .header{
	margin-bottom:4px;
}
.lastRow{
	border-bottom: 0 !important;
}
.chartTitle{
	width:100%;
	height:20px;
	line-height: 20px;
	color:#B9B9B9;
	text-align: center;
	margin-top:30px;
}
.pieLegendDiv{
	float:left;
	margin-right:20px;
	color: #AAB2FF;
}
.pieLegend{
	display: inline-block;
	width:20px;
	height:12px;
	background: #AAB2FF;
	margin-right:10px;
	border-radius: 2px;
}
.otherColor{
	background: #98CDFA;
}