<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
			http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	
	<!-- 授权模块 -->
	<bean id="softdogService" class="com.hikvision.finance.fms.license.service.impl.SoftdogServiceImpl" autowire="byName"></bean>
	<bean id="softdogDao" class="com.hikvision.finance.fms.license.dao.impl.SoftdogDaoImpl" autowire="byName"></bean>
	
	<!-- 通用Common -->
	<bean id="treeAction" scope="prototype" class="com.hikvision.finance.fms.common.tree.action.TreeAction" autowire="byName"></bean>
	<bean id="treeService" class="com.hikvision.finance.fms.common.tree.service.impl.TreeServiceImpl" autowire="byName"></bean>
	
	<!-- VAG服务和流媒体服务、VRM服务、看门狗通知类 -->
	
	<!-- 系统相关 system -->
	<bean id="loginAction" scope="prototype" class="com.hikvision.finance.fms.system.action.LoginAction" autowire="byName"></bean>
	<bean id="loginService" class="com.hikvision.finance.fms.system.service.impl.LoginServiceImpl" autowire="byName"></bean>
	<bean id="sysdictionaryDao" class="com.hikvision.finance.fms.modules.sysdictionary.dao.impl.SysdictionaryDaoImpl" autowire="byName"></bean>
    <bean id="sysdictionaryService" class="com.hikvision.finance.fms.modules.sysdictionary.service.impl.SysdictionaryServiceImpl" autowire="byName" />
    
    <!-- 组织管理 -->
    <bean id="regionDao" class="com.hikvision.finance.fms.modules.region.dao.impl.RegionDaoImpl" autowire="byName" />
	<bean id="regionService" class="com.hikvision.finance.fms.modules.region.service.impl.RegionServiceImpl" autowire="byName" />
	<bean id="regionAction" scope="prototype" class="com.hikvision.finance.fms.modules.region.action.RegionAction" autowire="byName" />
	
	<!-- 权限管理 -->
	<bean id="usersDao" class="com.hikvision.finance.fms.modules.user.dao.impl.UsersDaoImpl" autowire="byName"></bean>
	<bean id="userrolemappingDao" class="com.hikvision.finance.fms.modules.user.dao.impl.UserrolemappingDaoImpl" autowire="byName"></bean>
	<bean id="userregionmappingDao" class="com.hikvision.finance.fms.modules.user.dao.impl.UserregionmappingDaoImpl" autowire="byName"></bean>
	<bean id="userdevicemappingDao" class="com.hikvision.finance.fms.modules.user.dao.impl.UserdevicemappingDaoImpl" autowire="byName"></bean>
	<bean id="usercrtificatemappingDao" class="com.hikvision.finance.fms.modules.user.dao.impl.UsercrtificatemappingDaoImpl" autowire="byName"></bean>
	<bean id="userlockDao" scope="prototype" class="com.hikvision.finance.fms.modules.user.dao.impl.UserlockDaoImpl" autowire="byName" />
	<bean id="userService" class="com.hikvision.finance.fms.modules.user.service.impl.UserServiceImpl" autowire="byName" />
	<bean id="userAction" scope="prototype" class="com.hikvision.finance.fms.modules.user.action.UserAction" autowire="byName" />

    <bean id="roleDao" class="com.hikvision.finance.fms.modules.role.dao.impl.RoleDaoImpl" autowire="byName"></bean>
    <bean id="privilegeDao" class="com.hikvision.finance.fms.modules.role.dao.impl.PrivilegeDaoImpl" autowire="byName"></bean>
    <bean id="rolePrivilegeMappingDao" class="com.hikvision.finance.fms.modules.role.dao.impl.RolePrivilegeMappingDaoImpl" autowire="byName"></bean>
    <bean id="roleService" class="com.hikvision.finance.fms.modules.role.service.impl.RoleServiceImpl" autowire="byName" />
    <bean id="roleAction" scope="prototype" class="com.hikvision.finance.fms.modules.role.action.RoleAction" autowire="byName" />
    
    <!-- 服务配置管理 -->
    <bean id="serverDao" class="com.hikvision.finance.fms.modules.server.dao.impl.ServerDaoImpl" autowire="byName" />
	<bean id="serverService" class="com.hikvision.finance.fms.modules.server.service.impl.ServerServiceImpl" autowire="byName" />
	<bean id="serverAction" scope="prototype" class="com.hikvision.finance.fms.modules.server.action.ServerAction" autowire="byName" />
	
    <!-- 产品(证书)管理 -->
    <bean id="certDao" class="com.hikvision.finance.fms.modules.product.dao.impl.CertDaoImpl" autowire="byName"></bean>
    <bean id="certProductMappingDao" class="com.hikvision.finance.fms.modules.product.dao.impl.CertProductMappingDaoImpl" autowire="byName"></bean>
    <bean id="productDao" class="com.hikvision.finance.fms.modules.product.dao.impl.ProductDaoImpl" autowire="byName"></bean>
    <bean id="productTypeDao" class="com.hikvision.finance.fms.modules.product.dao.impl.ProductTypeDaoImpl" autowire="byName"></bean>
    <bean id="productService" class="com.hikvision.finance.fms.modules.product.service.impl.ProductServiceImpl" autowire="byName"></bean>
    <bean id="productAction" scope="prototype" class="com.hikvision.finance.fms.modules.product.action.ProductAction" autowire="byName"></bean>
	
	<!-- 系统参数配置管理 -->
	<bean id="sysconfigDao" class="com.hikvision.finance.fms.modules.sysconfig.dao.impl.SysconfigDaoImpl" autowire="byName" />
    <bean id="sysconfigService" class="com.hikvision.finance.fms.modules.sysconfig.service.impl.SysconfigServiceImpl" autowire="byName"></bean> 
    <bean id="sysconfigAction" scope="prototype" class="com.hikvision.finance.fms.modules.sysconfig.action.SysconfigAction" autowire="byName"></bean>      
    <bean id="cardDao" class="com.hikvision.finance.fms.modules.card.dao.impl.CardDaoImpl" autowire="byName" />
    <bean id="cardService" class="com.hikvision.finance.fms.modules.card.service.impl.CardServiceImpl" autowire="byName"></bean>
    <bean id="cardAction" scope="prototype" class="com.hikvision.finance.fms.modules.card.action.CardAction" autowire="byName"></bean>
    
    <!-- 设备管理 -->
    <bean id="deviceChannelDao" class="com.hikvision.finance.fms.modules.device.dao.impl.DeviceChannelDaoImpl" autowire="byName"></bean>
    <bean id="deviceDao" class="com.hikvision.finance.fms.modules.device.dao.impl.DeviceDaoImpl" autowire="byName"></bean>
    <bean id="cloudpoolmappingDao" class="com.hikvision.finance.fms.modules.device.dao.impl.CloudpoolmappingDaoImpl" autowire="byName"></bean>
    <bean id="cvrassociatemappingDao" class="com.hikvision.finance.fms.modules.device.dao.impl.CvrassociatemappingDaoImpl" autowire="byName"></bean>
    <bean id="deviceService" class="com.hikvision.finance.fms.modules.device.service.impl.DeviceServiceImpl" autowire="byName" />
    <bean id="deviceAction" scope="prototype" class="com.hikvision.finance.fms.modules.device.action.DeviceAction" autowire="byName"></bean>
    
    <!-- 报警管理 -->
    <bean id="alarmlogDao" class="com.hikvision.finance.fms.modules.alarm.dao.impl.AlarmlogDaoImpl" autowire="byName"></bean>
    <bean id="alarmlogService" class="com.hikvision.finance.fms.modules.alarm.service.impl.AlarmlogServiceImpl" autowire="byName" />
    <bean id="alarmAction" scope="prototype" class="com.hikvision.finance.fms.modules.alarm.action.AlarmAction" autowire="byName"></bean>
    
     <!-- 日志管理 -->
    <bean id="recordLogDao" class="com.hikvision.finance.fms.modules.log.dao.impl.RecordLogDaoImpl" autowire="byName"></bean>
    <bean id="logsysDao" class="com.hikvision.finance.fms.modules.log.dao.impl.LogsysDaoImpl" autowire="byName"></bean>
    <bean id="configLogDao" class="com.hikvision.finance.fms.modules.log.dao.impl.ConfigLogDaoImpl" autowire="byName"></bean>
    <bean id="clientDeleteLogDao" class="com.hikvision.finance.fms.modules.log.dao.impl.ClientDeleteLogDaoImpl" autowire="byName"></bean>
    <bean id="logService" class="com.hikvision.finance.fms.modules.log.service.impl.LogServiceImpl" autowire="byName" />
    <bean id="logAction" scope="prototype" class="com.hikvision.finance.fms.modules.log.action.LogAction" autowire="byName"></bean>
    
    <!-- 销售查询管理 -->
    <bean id="clientInputDao" class="com.hikvision.finance.fms.modules.sale.dao.impl.ClientInputDaoImpl" autowire="byName"></bean>
    <bean id="saleService" class="com.hikvision.finance.fms.modules.sale.service.impl.SaleServiceImpl" autowire="byName" />
    <bean id="saleAction" scope="prototype" class="com.hikvision.finance.fms.modules.sale.action.SaleAction" autowire="byName"></bean>
    <bean id="procomplaintDao" class="com.hikvision.finance.fms.modules.sale.dao.impl.ProcomplaintDaoImpl" autowire="byName"></bean>
    
    <!-- 统计分析 -->
    <bean id="analysisDao" class="com.hikvision.finance.fms.modules.analysis.dao.impl.AnalysisDaoImpl" autowire="byName"></bean>
    <bean id="analysisService" class="com.hikvision.finance.fms.modules.analysis.service.impl.AnalysisServiceImpl" autowire="byName" />
    <bean id="analysisAction" scope="prototype" class="com.hikvision.finance.fms.modules.analysis.action.AnalysisAction" autowire="byName"></bean>
    
    <!-- 理财录像 -->
    <bean id="recordAction" scope="prototype" class="com.hikvision.finance.fms.modules.record.action.RecordAction" autowire="byName"></bean>
    <bean id="recordService" class="com.hikvision.finance.fms.modules.record.service.impl.RecordServiceImpl" autowire="byName"></bean>
    <bean id="proSaveRecordDao" class="com.hikvision.finance.fms.modules.record.dao.impl.ProSaveRecordDaoImpl" autowire="byName"></bean>
    
    <!-- 到期信息 -->
    <bean id="dueRecordAction" scope="prototype" class="com.hikvision.finance.fms.modules.duerecord.action.DueRecordAction" autowire="byName"></bean>
    <bean id="dueRecordService" class="com.hikvision.finance.fms.modules.duerecord.service.impl.DueRecordServiceImpl" autowire="byName"></bean>
    
    <bean id="AppContext" class="com.hikvision.rpc.init.AppContext"></bean>    
	
	
	<!--采集端  -->   
	<!-- 数据采集 -->
	<bean id="datacollectAction" scope="prototype" class="com.hikvision.finance.fms.webdevice.datacollect.action.DatacollectAction" autowire="byName"></bean>
	<bean id="recordsDao" class="com.hikvision.finance.fms.webdevice.datacollect.dao.impl.RecordsDaoImpl" autowire="byName"></bean>
    <bean id="datacollectService" class="com.hikvision.finance.fms.webdevice.datacollect.service.impl.DatacollectServiceImpl" autowire="byName" />
	
	<!-- 业务关联 -->
	<bean id="contactAction" scope="prototype" class="com.hikvision.finance.fms.webdevice.contact.action.ContactAction" autowire="byName"></bean>
	<bean id="businessOrderDao" class="com.hikvision.finance.fms.webdevice.contact.dao.impl.BusinessOrderDaoImpl" autowire="byName"></bean>
    <bean id="contactService" class="com.hikvision.finance.fms.webdevice.contact.service.impl.ContactServiceImpl" autowire="byName" />
	
	<!-- 日志管理 -->
	<bean id="logcollAction" scope="prototype" class="com.hikvision.finance.fms.webdevice.log.action.LogcollAction" autowire="byName"></bean>
	<bean id="collLogDao" class="com.hikvision.finance.fms.webdevice.log.dao.impl.CollLogDaoImpl" autowire="byName"></bean>
    <bean id="collLogService" class="com.hikvision.finance.fms.webdevice.log.service.impl.CollLogServiceImpl" autowire="byName" />

</beans>






