<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	<bean id="HppAppContext" class="com.hikvision.rpc.init.HppAppContext" />					<!-- ???????? -->
	
	<bean id="hppIoIntercept" class="com.hikvision.finance.fms.cms.inter.HppIoInterceptImpl" /><!-- 自定义拦截器 -->
	
	<bean id="ioHandlerAdapter" class="com.hikvision.finance.fms.cms.inter.CmsHppIoHandler"  /><!-- 自定义处理器 -->
	
	<bean id="cmsHppManager" class="com.hikvision.rpc.CmsHppManager" init-method="run">
		<!-- 端口 -->
		<property name="port" value="${cms.port}"/>
		<!-- 类型: 服务器: HPP_SERVER_, 客户端: HPP_CLIENT_ -->
		<property name="type" value="HPP_SERVER_"/>
		<!-- 映射文件路径 -->
		<property name="hppConfigLocation" value="hpp/hpp.xml"/>
		<!-- 自定义拦截器 -->
		<property name="hppIoIntercept" ref="hppIoIntercept"></property>
		<!-- 自定义处理器 -->
		<property name="ioHandlerAdapter" ref="ioHandlerAdapter"/>
	</bean>
	
	<bean id="CmsApplicationListener" class="com.hikvision.finance.fms.common.init.CmsApplicationListener" /><!-- ???? -->

</beans>
