.server-wrap{
	width: 1070px;
	margin: 0 auto;
}
.serverNote{
	margin: 20px 0;
	color: #9A9797;
}
.serverLi{
	width: 238px;
	height: 158px;
	float: left;
	border: 1px solid #DFDFDF;
	-webkit-box-shadow: 1px 2px 2px #DFDFDF;  
  	-moz-box-shadow: 1px 2px 2px #DFDFDF;  
  	box-shadow: 1px 1px 2px #DFDFDF;  
  	padding: 0px 15px;
  	box-sizing:border-box;
  	cursor: pointer;
  	position: relative;
  	overflow: hidden;
  	margin: 0 14px 40px 14px;
}
.imgBox{
	width: 66px;
	float: left;
}
.serverDetail{
	float: left;
	width: 140px;
	overflow: hidden;
	padding-left: 8px;
	box-sizing:border-box;
}
.serverIc{
	margin: 0 auto;
	width: 48px;
	height: 48px;
	margin-top:12px; 
}
.serverText{
	font-size: 14px;
	border-bottom: 1px solid #DFDFDF;
}
.serverLi p{
	padding: 0;
	line-height: 36px;
}
.serverName{
	float:left;
	text-overflow:ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width:150px;
}
.serverStatus{
	float: right;
	font-size: 13px;
	color: #A3A3A3;
}
.timingServer .serverIc1{
	background: url("/images/icons/server_Ic1.png") no-repeat center;
}
.recGuardServer .serverIc1{
	background: url("/images/icons/server_Ic2.png") no-repeat center;
}
.uploadServer .serverIc1{
	background: url("/images/icons/server_Ic3.png") no-repeat center;
}
.WebServer .serverIc1{
	background: url("/images/icons/server_Ic4.png") no-repeat center;
}
.timingServer .serverOffLine .serverIc1{
	background: url("/images/icons/server_Ic1_Off.png") no-repeat center;
}
.recGuardServer .serverOffLine .serverIc1{
	background: url("/images/icons/server_Ic2_Off.png") no-repeat center;
}
.uploadServer .serverOffLine .serverIc1{
	background: url("/images/icons/server_Ic3_Off.png") no-repeat center;
}
.WebServer .serverOffLine .serverIc1{
	background: url("/images/icons/server_Ic4_Off.png") no-repeat center;
}
.serverInner{
	margin-top: 20px; 
}
.serverDetail ul{
	line-height: 24px;
}
.serverDetail ul li{
	text-overflow:ellipsis; 
  	overflow:hidden; 
  	white-space: nowrap;
  	color: #929292;
}
/*.serverLi+.serverLi{
	margin-left:38px; 
}*/
.serverOption{
	width: 238px;
	*width: 268px;
    height: 158px;
    background: #707070;
    opacity: 0.89;
    FILTER: alpha(opacity=89);
    position: absolute;
    top:158px;
	left:0;
}
.addServer{
	position: absolute;
	width: 50px;
	height: 50px;
	left:50%;
	top:50%;
	margin:-25px 0 0 -25px;
	/* margin: auto;
	top: 0;left:0;right: 0;bottom:0; */
	background:  url("/images/icons/addServer.png") no-repeat center
}
.optionPanel{
	position: absolute;
	/* margin: auto;
	top: 0;left:0;right: 0;bottom:0; */
	width: 100px;
	height: 30px;
	left:50%;
	top:50%;
	margin:-15px 0 0 -44px;
}
.serverEdit{
	background: url("/images/icons/serverEdit.png") no-repeat -4px 1px;
}
.serverEdit:hover {
  background: url("/images/icons/serverEdit_hover.png") no-repeat 0 center;
}
.serverEdit:focus,.serverEdit:active{
  background: url("/images/icons/serverEdit_press.png") no-repeat 1px center; 
}
.serverDelete{
	margin-left: 30px;
	background: url("/images/icons/serverDelete.png") no-repeat 0 center;
}
.serverDelete:hover {
  background: url("/images/icons/serverDelete_hover.png") no-repeat 0 center;
}
.serverDelete:focus,.serverDelete:active{
  background: url("/images/icons/serverDelete_press.png") no-repeat 1px center; 
}
.serverRestart{
	background: url("/images/icons/serverRestart.png") no-repeat 0 center;
}
.serverRestart:hover {
  background: url("/images/icons/serverRestart_hover.png") no-repeat 0 center;
}
.serverRestart:focus,.serverRestart:active{
  background: url("/images/icons/serverRestart_press.png") no-repeat 1px center; 
}
.serverLongSetting{
	background: url("/images/icons/longSetting.png") no-repeat 0 center;
}
.serverLongSetting:hover {
  background: url("/images/icons/longSetting_hover.png") no-repeat 0 center;
}
.serverLongSetting:focus,.serverLongSetting:active{
  background: url("/images/icons/longSetting_press.png") no-repeat 1px center; 
}
.serverWin{
	margin-top:20px; 
}
.serverWin div{
	width: 200px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	border: 1px solid #DFDFDF;
	cursor: pointer;
	margin:0 auto;
	margin-bottom: 10px;
	border-radius: 3px;
}
.serverWin div:hover{
	background: #3F85E4;
	color: #fff;
}