
.permissionBox {
  margin-left: 120px;
  _margin-left:100px;
  width: 450px;
  overflow: auto;
  display: block;
  vertical-align: top;
  position: relative;
}
.permissionBox .tab-container{
  margin: 0;
}

.permissionBox ul.tabs li.active a:hover{
  color: #fff;
}
.specialPoint,.backBtn{
  position: absolute;
  bottom: 2px;
  left: 10px;
  border-top: 1px solid #ccc;
  width: 282px;
  line-height: 24px;
  padding: 0;
  display: block;

}
.specialPoint span,.backBtn span{
  color: #01B165;
  cursor: pointer;
}
.specialPoint span:hover,.backBtn span:hover{
  color: #009C59;
}
.permissionBox .tab-pane{
  border: 1px solid #009C59;
  height: 205px;
  box-sizing: border-box;
  overflow: auto;
}
.permissionBox .resPane{
  border: 1px solid #009C59;
  padding-bottom: 30px;
  height: 205px;
  box-sizing: border-box;
  overflow: auto;
}
.parentArea{
  display: block;
}
.childArea{
  display: none;
}
.backBtn span i{
  font-style: normal;
  font-size: 14px;
  margin-right: 3px;
}
.parentAreaInfo{
  padding: 5px;
  color: #fff;
  background: #ccc;
  font-size: 12px;
}
.controls .selector select{
  position: absolute!important;
}
#resourceTree{
  height: 163px;
  overflow: auto;
}
#specialTree{
  height: 135px;
  overflow: auto;
}
html ul.tabs li.active, html ul.tabs li.ui-state-active{
  background-color:#009C59;
  border-color: #009C59;
}
ul.tabs li, ul.tabs li.ui-state-default{
  border: 1px solid #009C59;
}
ul.tabs{
  border-bottom: 2px solid #009C59;
}
ul.tabs li a, ul.tabs li.ui-state-default a{
  color: #01B165;
}
.permissionBox ul.tabs li a:hover {
  color: #009C59;
}
.ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column{
	text-align:left;
}
/* .ui-jqgrid .ui-jqgrid-resize-ltr{
	margin:-2px -10px -2px 0;
} */
.ui-jqgrid .ui-jqgrid-resize-ltr{
	float:left;
	margin:-2px 0px -2px -9px;
} 
/* .ui-jqgrid tr.jqgrow td{
  padding:5px 8px;
  _padding:5px 2px;
  border-bottom:1px solid #F2F2F2;
  white-space: nowrap;
} */