.tool{
	width:98%;
	height:50px;
	border-bottom: 1px solid #DBDBDB;
}
.mainload{
	position: absolute;
	bottom:0;
	top:51px;
	width:1010px;
	overflow-x:hidden;
	overflow-y:auto;  
}
.tool ul{
	height:49px;
}
.tool li{
	float: left;
	padding:0 20px;
	line-height: 49px;
	font-size: 14px;
	cursor: pointer;
	color:#999999;
}
.tool li:hover{
	color:#3F85E4;
	/* border-bottom:solid 2px #3F85E4; */
}
.tool li.active{
	color:#3F85E4;
	border-bottom:solid 2px #3F85E4;
	background: #fff;
}
.oprTiming{
  background: url("/images/icons/timing.png") no-repeat 4px center;
}
.oprTiming:hover {
  color: #3F85E4;
  background: url("/images/icons/timing_hover.png") no-repeat 4px center;
}
.oprTiming:active,.oprTiming:focus {
  color: #2D5FA4;
  background: url("/images/icons/timing_press.png") no-repeat 4px center;
}
.oprRemote{
  background: url("/images/icons/remote.png") no-repeat 4px center;
}
.oprRemote:hover {
  color: #3F85E4;
  background: url("/images/icons/remote_hover.png") no-repeat 4px center;
}
.oprRemote:active,.oprRemote:focus {
  color: #2D5FA4;
  background: url("/images/icons/remote_press.png") no-repeat 4px center;
}
.height20{
	height:20px;
}
.groupHidden{
	display: none;
}
.groupHidden .controls, .groupShow .controls{
	margin-left:0;
}
.subInfo{
	border: solid 1px #cccccc;
    margin-left: 40px;
    margin-right: 60px;
}
.groupShow .subInfo{
	 margin-right: 40px;
	 height:190px;
	 overflow-y:auto;
	 overflow-x:hidden; 
}
.subInfo .subInfo1{
	padding-left: 20px;
	height:40px;
	line-height: 40px;
	color:#ADADAD;
}
.controls span.password{
	color:#ADADAD;
	display:inline-block;
}
.rePWD{
	display: inline-block;
	_display:inline;
}
.rePWD span{
	width:27px;
	height:8px;
}
.rePWD i{
	margin-left:5px;
	display: inline-block;
}
.thirtyField{
	width:360px;
	float:left;
}
.thirtyField #tooltip.success,.thirtyField #tooltip.error{
	margin-left:0;
}
.channelInfo{
	position: relative;
	margin:0 40px;
	border:solid 1px #ccc;
	height:170px;
	overflow-y:auto;
	overflow-x:hidden;
}
.clickA{
	width:100%;
	height:100%;
	text-align: center;
	line-height: 170px;
	vertical-align: middle;
}
.input-select{
	width:200px;
	position: absolute;
	top:105%;
	left:0;
	height:200px;
	overflow: auto;
	border:solid 1px #cccccc;
	z-index: 1000;
	background: white;
	display: none;
}
.subInfo .viewInfo p{
	padding-left:80px;
	color:#ADADAD;
}
.subInfo .addcollect p{
	width: 200px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border: 1px solid #DFDFDF;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 5px;
    border-radius: 3px;
}
.subInfo .addcollect p:hover{
	background: #3F85E4;
	color:#fff;
}
.subInfo .addcollect p.active{
	background: #3F85E4;
	color:#fff;
}

.filterFormBox{
	margin:0;
	height:auto;
	overflow: hidden;
	width:98%;
	background: #EDEDED;
}
/* .fieldset_25{
	float:left;
	width:28%;
}
.conditions .selector{
	width:140px !important;
}
.conditions select{
	width:150px !important;
}
.conditions input{
	width:138px !important;
}
.conditions input.datepicker{
	width:120px !important;
} */
.ieStyle .filterDIV{
	margin-top:4px;
	_margin-top:0px;
	float: right;
}
#filterForm{
	overflow: hidden;
	margin-top:10px;
}
.openMore{
	padding-right:20px;
	background: url("/images/icons/open-down.png") no-repeat right;
	margin-right:-10px;
	color: #3F85E4;
}
.openMore:hover{
	color: #3F85E4;
}
.hideCondition{
	height:0;
	overflow: hidden;
	float:left;
	width:100%;
}
.oprDelay{
  background: url("/images/icons/delay.png") no-repeat 4px center;
}
.oprDelay:hover {
  color: #3F85E4;
  background: url("/images/icons/delay_hover.png") no-repeat 4px center;
}
.oprDelay:active,.oprDelay:focus {
  color: #2D5FA4;
  background: url("/images/icons/delay_press.png") no-repeat 4px center;
}
.oprRandom{
  background: url("/images/icons/random.png") no-repeat 4px center;
}
.oprRandom:hover {
  color: #3F85E4;
  background: url("/images/icons/random_hover.png") no-repeat 4px center;
}
.oprRandom:active,.oprRandom:focus {
  color: #2D5FA4;
  background: url("/images/icons/random_press.png") no-repeat 4px center;
}
.oprCompliance{
  background: url("/images/icons/compliance.png") no-repeat 4px center;
}
.oprCompliance:hover {
  color: #3F85E4;
  background: url("/images/icons/compliance_hover.png") no-repeat 4px center;
}
.oprCompliance:active,.oprCompliance:focus {
  color: #2D5FA4;
  background: url("/images/icons/compliance_press.png") no-repeat 4px center;
}
.oprComplaint{
  background: url("/images/icons/complain.png") no-repeat 4px center;
}
.oprComplaint:hover {
  color: #3F85E4;
  background: url("/images/icons/complain_hover.png") no-repeat 4px center;
}
.oprComplaint:active,.oprComplaint:focus {
  color: #2D5FA4;
  background: url("/images/icons/complain_press.png") no-repeat 4px center;
}
.oprSignRead{
  background: url("/images/icons/read.png") no-repeat 4px center;
}
.oprSignRead:hover {
  color: #3F85E4;
  background: url("/images/icons/read_hover.png") no-repeat 4px center;
}
.oprSignRead:active,.oprSignRead:focus {
  color: #2D5FA4;
  background: url("/images/icons/read_press.png") no-repeat 4px center;
}
.popMain{
	width:100%;
	height:100%;
	position: relative;
	overflow: hidden;
}
.popleft{
	float:left;
	width:260px;
	position: relative;
	overflow: hidden;
	border-right:solid 1px #ccc;
	background: #ECECEC; 
	/* box-shadow: 1px 1px 1px #ccc; */
	height:100%;
	/* background: url("/images/videoBack.png") no-repeat;
	background-size: cover; */
	z-index:800;
}
.formLeft{
	width:100%;
	height:100%;
	overflow: hidden;
}
textarea{
	resize:none;
}
.videoTextarea{
	width:160px;
	height:80px;
}
.popleft .control-group{
	margin-bottom:0;
}
.videoSubmit{
	position: absolute;
	bottom:30px;
	left:50%;
	margin-left:-45px;
}
.closeInfo{
	position: absolute;
	width:6px;
	height:40px;
	line-height: 40px;
	top:50%;
	margin-top:-40px;
	left:220px;
	z-index:999;
	cursor:pointer;
	text-align: center;
	/* box-shadow: 1px 0 1px #ccc,  
			    0 -1px 1px #ccc, 
			    0 1px 1px #ccc; */
}
.closeInfo span{
	display: inline-block;
	width:6px;
	height:6px;
	background: url("/images/icons/expand-open.png");
}
.closeInfo:hover span{
	background: url("/images/icons/expand-open_hover.png");
}
.closeInfo:active span{
	background: url("/images/icons/expand-open_press.png");
}
.closeInfo.openInfo span{
	display: inline-block;
	width:6px;
	height:6px;
	background: url("/images/icons/expand-close.png");
}
.closeInfo.openInfo:hover span{
	background: url("/images/icons/expand-close_hover.png");
}
.closeInfo.openInfo:active span{
	background: url("/images/icons/expand-close_press.png");
}
.popleft form{
	width:260px;
	margin-top:10px;
}
.popRight{
    height: 100%;
    position: absolute;
    left: 260px;
    right: 0;
}
.height30{
	height:30px;
	line-height: 30px;
	background: #efefef;
}
.popleft .controls span{
	display: inline-block;
	width:100px;
	overflow: hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.popleft .form-horizontal{
	font-family: "宋体";
}
.videoPlay{
	width:100%;
	height:590px;
	float:right;
	z-index: 1;
	position: relative;
}
.recordInfo{
	float:left;
	width:120px;
	overflow: hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	margin-left: 0;
}
.ieStyle .filterBtnForCol2 {
    float: none;
    margin-left: 35px;
}